.spacer {
  flex: 1 1 auto;
}

.nav-link {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #ccc;
  }
}
