<div class="login__container">
  <h1 class="login__title">Inicio de Sesión</h1>
  <mat-card>
    <mat-card-content>
      <form class="login__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="usuario@ejemplo.com" formControlName="username" type="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Ingrese su contraseña" formControlName="password"
            [type]="revealPassword ? 'password' : 'text'" />
          <mat-icon matSuffix [title]="revealPassword ? 'Ocultar contraseña' : 'Mostrar contraseña'"
            (click)="togglePassword()" [style.cursor]="'pointer'">{{ revealPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Moneda</mat-label>
          <mat-select formControlName="currency">
            <mat-option *ngFor="let currency of appConfig.currencies" [value]="currency">
              {{ currency }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="login__actions">
          <button mat-raised-button color="primary" type="submit" data-cy="login-button" [disabled]="loginForm.invalid">
            Iniciar Sesión
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
